In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv('data107old.csv')

# 先查看資料型態

In [3]:
data.head()

,v1,v2,v3,v4,v5,v5a_1,v5a_2,v5a_3,v6,v7,...,v40,v41,v42,v43,v44,v45,v46,v47,wei1,wei2
0,12,640,40,2,2,99,99,99,1,2,...,1,9,2,1,8,3,1,2,0.7768,0.8770
1,13,614,25,5,5,7,99,99,4,2,...,2,2,8,8,1,3,1,1,0.6791,0.5974
2,4,262,41,2,1,99,99,99,1,1,...,1,9,2,1,2,4,1,1,0.9525,0.6488
3,17,906,44,1,3,7,99,99,3,2,...,1,9,1,1,1,5,1,1,1.0841,1.4201
4,10,510,27,5,1,99,99,99,1,2,...,1,9,2,8,4,1,2,2,0.7935,1.4707